* {
    box-sizing: border-box;
}

body {
    background-color: #818181;
}

body p,li {
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    max-width: 1200px;
    margin: auto;
    background-color: white;
}

.logo-box img {
    margin-top: -40px;
    width: 250px;
    height: 250px;
}

.logo-box {
    margin-bottom: -80px;
}

header {
    background-color: #111;
}

.navbar {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #555;
}

.navbar a {
    color: white;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
}

.navbar a:hover {
    background-color: white;
    color: #111;
    font-weight: bold;
}

.navbar a.active {
    background-color: rgb(243, 192, 26);
    color: black;
}

.side-bar {
    display: none;
}

.container{
    display: grid;
    grid-template-columns: auto;
}

.container {
    padding: .5em;
}

.home-img img {
    width: 100%;
}

.container h1 {
    color: rgb(216, 172, 27);
}

footer hr {
    color: white;
    width: 90%;
}

footer {
    background-color: rgb(114, 114, 114);
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
}

footer p,
span {
    color: white;
    text-align: center;
}

#social img {
    max-width: 80px;
}

#social {
    margin: auto;
}

/** For tablet **/
@media (min-width: 600px) {
    .navbar a {
        display: block;
        width: 25%;
        text-align: center;
    }

    .container{
        grid-template-columns: 160px auto;
        padding: 0;
    }

    main {
        padding: 1.5em;
    }

    .home-img img {
        float: right;
        padding: 1em;
        max-width: 570px;
        height: auto;
    }

    main h1 {
        margin-top: 50px;
    }

    .side-bar {
        display: block;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .side-bar a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
    }

    .side-bar a:hover {
        color: #f1f1f1;
    }
}

/** For desktop and other larger screens **/
@media (min-width: 1000px) {
    header {
        display: grid;
        grid-template-columns: 210px auto;
    }

    .navbar {
        margin-top: 5.9em;
        height: 30%;
    }

    .container h1 {
        font-size: calc(28px + 1vw);
    }

    .container p {
        font-size: calc(12px + 1vw);
    }